[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "gerbil"]
	path = gerbil
	url = https://github.com/cran/gerbil
	shallow = true
	registered = true
[submodule "microsynth"]
	path = microsynth
	url = https://github.com/cran/microsynth
	shallow = true
	registered = true
